.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.slide-enter {
    transform: translateY(-100%);
}

.slide-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.slide-exit {
    transform: translateY(0);
}

.slide-exit-active {
    transform: translateY(-100%);
    transition: transform 300ms;
}

.zoom-enter {
    transform: scale(0);
}

.zoom-enter-active {
    transform: scale(1);
    transition: transform 300ms;
}

.zoom-exit {
    transform: scale(1);
}

.zoom-exit-active {
    transform: scale(0);
    transition: transform 300ms;
}

.bounce-enter {
    transform: scale(0.5);
    opacity: 0;
}

.bounce-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
}

.bounce-exit {
    transform: scale(1);
    opacity: 1;
}

.bounce-exit-active {
    transform: scale(0.5);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

.flip-enter {
    transform: rotateY(90deg);
    opacity: 0;
}

.flip-enter-active {
    transform: rotateY(0);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
}

.flip-exit {
    transform: rotateY(0);
    opacity: 1;
}

.flip-exit-active {
    transform: rotateY(90deg);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

.slide-right-enter {
    transform: translateX(100%);
}

.slide-right-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}

.slide-right-exit {
    transform: translateX(0);
}

.slide-right-exit-active {
    transform: translateX(100%);
    transition: transform 300ms;
}

.zoom-out-enter {
    transform: scale(1.2);
    opacity: 0;
}

.zoom-out-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
}

.zoom-out-exit {
    transform: scale(1);
    opacity: 1;
}

.zoom-out-exit-active {
    transform: scale(1.2);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

.slide-bottom-enter {
    transform: translateY(100%);
}

.slide-bottom-enter-active {
    transform: translateY(0);
    transition: transform 300ms;
}

.slide-bottom-exit {
    transform: translateY(0);
}

.slide-bottom-exit-active {
    transform: translateY(100%);
    transition: transform 300ms;
}

.slide-left-enter {
    transform: translateX(-100%);
}

.slide-left-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
}

.slide-left-exit {
    transform: translateX(0);
}

.slide-left-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
}

.zoom-squares-enter {
    transform: scale(0.5);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

.zoom-squares-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
    animation: square-animation 300ms;
}

.zoom-squares-exit {
    transform: scale(1);
    opacity: 1;
}

.zoom-squares-exit-active {
    transform: scale(0.5);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

@keyframes square-animation {
    0% {
        clip-path: inset(0% 0% 0% 0%);
    }

    100% {
        clip-path: inset(10% 10% 10% 10%);
    }
}

.rotate-enter {
    transform: rotate(360deg);
    opacity: 0;
}

.rotate-enter-active {
    transform: rotate(0deg);
    opacity: 1;
    transition: transform 300ms, opacity 300ms;
}

.rotate-exit {
    transform: rotate(0deg);
    opacity: 1;
}

.rotate-exit-active {
    transform: rotate(360deg);
    opacity: 0;
    transition: transform 300ms, opacity 300ms;
}

/*formulario Sd*/
/* .p-inputgroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.p-field {
    width: 100%;
}

.p-float-label {
    width: 100%;
}

.p-inputtext-icon {
    padding-right: 2.5em;
}

.p-input-icon-right .pi {
    right: 1em;
    cursor: pointer;
}

.shadow-2 {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.surface-card {
    background: #f4f4f4;
}

.border-round {
    border-radius: 8px;
}

.mb-3 {
    margin-bottom: 1rem;
}

.p-mt-2 {
    margin-top: 1rem;
}
 */
/*/datatable*/
/* .datatable {
    max-width: 1000px;
    margin: 0 auto;
    background: #f4f4f4;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    border: 1px solid #ccc;
    text-align: left;
}

thead {
    background-color: #f0f0f0;
}

input {
    width: 100%;
    box-sizing: border-box;
}

.p-mt-2 {
    margin-top: 1rem;
} */
/* .p-datatable-thead>tr {
    background: var(--primary-color) !important;

} */

.p-datatable .p-datatable-thead>tr>th {
    background: var(--highlight-bg) !important;

}

.p-datatable .p-sortable-column.p-highlight {
    /* background: var(--primary-color) !important; */
    color: var(--primary-color) !important;
    font-weight: bold;
}


/* styles/globals.css */

.about-section {
    position: relative;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 100%;
    height: 600px;
    color: black;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px;
}

.card-container {
    /* position: absolute;
    top: 10%;
    left: 10%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background: linear-gradient(rgba(255, 255, 255, 0.9) 50%, #fff 50%);
    color: var(--text-color);
    /* Fondo semi-transparente */
    padding: 4rem;
    border-radius: 0px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    /* Ajusta el ancho del card */
}

.medio-fondo {
    background: linear-gradient(rgba(255, 255, 255, 0.9) 100%, #fff 0%);
    color: var(--text-color);
}

.card-container .p-button {
    margin-top: 1rem;
}

/* de meta */

/* .testimonios blockquote {
	border-left: 2px solid #333;
	padding-left: 10px;
}

.testimonios cite {
	font-style: normal;
	color: #666;
} */
/* nuevo Registro
ExpenseForm.module.css*/

.expenseForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    /* background-color: #f9f9f9; */
}

.field {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.p-button {
    margin-top: 1rem;
}

.expenseTable {
    margin-top: 2rem;
    padding: 1rem;
    /* background-color: #fff; */
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.filters {
    margin: 2rem auto;
    padding: 1rem;
    /*  background-color: #f1f1f1; */
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    max-width: 800px;
}

.filters h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.filter-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.filter-group label {
    font-weight: bold;
}

.p-button {
    margin-top: 1rem;
}

.category-totals {
    margin: 2rem auto;
    padding: 1rem;
    /* background-color: #e6f7ff; */
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    max-width: 800px;
}

.category-totals h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.category-totals ul {
    list-style-type: none;
    padding: 0;
}

.category-totals li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.category-totals span:first-child {
    font-weight: bold;
}

.expense-chart {
    margin: 2rem auto;
    padding: 1rem;
    /* background-color: #f9f9f9; */
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    max-width: 800px;
    text-align: center;
}

.expense-chart h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.chart-type-selector {
    margin-bottom: 1rem;
}

.chart-type-selector label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}